.form-control{
    padding: 13px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    height: 0;
}

.form-control:focus{
    box-shadow: unset;
    outline: unset;
    border: 1px solid #6393CB;
    transition: ease-in-out 0.3s;
}

.label{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin-bottom: 10px;
    display: block;
}

.form-group{
    margin-bottom: 24px;
}