.button {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    padding: 6px 55px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}

.primary{
    background-color: #6393CB;
    color: #fff;
}